<div class="banner d-flex justify-content-center">
  <%= cl_image_tag("https://res.cloudinary.com/glenwarren/image/upload/v1565352062/orvmad0gopddpjgscoy8.jpg", height: 300) %>
  <div class="container m-5" style="width: 50%">
    <h1><strong>Spock-tails!</strong></h1><br>
    <h5>Set phasers to rum!</h5>
    <h5>Beam me up Scotchy!</h5>
    <h5>Live long, and piña colada.</h5>
    <h5>Gin boldly where no one has ginned before.....</h5>
  </div>
</div>
<div class="container d-flex justify-content-center flex-wrap mb-3">

<% @cocktails.each do |c| %>
  <div class="card m-3">
  <%= cl_image_tag c.photo, height: 120, crop: :scale, class: "border rounded" %>
  <%= link_to c.name, cocktail_path(c), class: "m-1" %>
  <br>
  </div>
<% end %>
<br>
</div>
<div class="container d-flex justify-content-center">
<%= link_to 'New Spocktail', new_cocktail_path, class: "btn btn-info m-5" %>
</div>
