.banner {
  // background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8)), image-url('star-trek-banner.jpg');
  // background-size: cover;
  // background-position: center;
  color: white;
  // padding-bottom: 40px;
  padding-top: 20px;
  text-shadow: 2px 2px #20586F;
  // h1 {
  //   text-size: 80px;
  // }
}
